In [2]:
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName("Test").getOrCreate()

In [3]:
spark

In [9]:
df=spark.read.csv(r"C:\Users\Ganesh Kulkarni\Documents\ethx peoject folder\Dataset\salary Data.csv",header=True,inferSchema=True)

In [10]:
df.show()

+---+------+---------------+--------------------+-------------------+------+
|Age|Gender|Education Level|           Job Title|Years of Experience|Salary|
+---+------+---------------+--------------------+-------------------+------+
| 32|  Male|     Bachelor's|   Software Engineer|                5.0| 90000|
| 28|Female|       Master's|        Data Analyst|                3.0| 65000|
| 45|  Male|            PhD|      Senior Manager|               15.0|150000|
| 36|Female|     Bachelor's|     Sales Associate|                7.0| 60000|
| 52|  Male|       Master's|            Director|               20.0|200000|
| 29|  Male|     Bachelor's|   Marketing Analyst|                2.0| 55000|
| 42|Female|       Master's|     Product Manager|               12.0|120000|
| 31|  Male|     Bachelor's|       Sales Manager|                4.0| 80000|
| 26|Female|     Bachelor's|Marketing Coordin...|                1.0| 45000|
| 38|  Male|            PhD|    Senior Scientist|               10.0|110000|
| 29|  Male|       Master's|  Software Developer|                3.0| 75000|
| 48|Female|     Bachelor's|          HR Manager|               18.0|140000|
| 35|  Male|     Bachelor's|   Financial Analyst|                6.0| 65000|
| 40|Female|       Master's|     Project Manager|               14.0|130000|
| 27|  Male|     Bachelor's|Customer Service Rep|                2.0| 40000|
| 44|  Male|     Bachelor's|  Operations Manager|               16.0|125000|
| 33|Female|       Master's|   Marketing Manager|                7.0| 90000|
| 39|  Male|            PhD|     Senior Engineer|               12.0|115000|
| 25|Female|     Bachelor's|    Data Entry Clerk|                0.0| 35000|
| 51|  Male|     Bachelor's|      Sales Director|               22.0|180000|
+---+------+---------------+--------------------+-------------------+------+
only showing top 20 rows

In [11]:
df.printSchema()

root
 |-- Age: integer (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Education Level: string (nullable = true)
 |-- Job Title: string (nullable = true)
 |-- Years of Experience: double (nullable = true)
 |-- Salary: integer (nullable = true)

In [12]:
df.select("Education Level","Years of Experience").show()

+---------------+-------------------+
|Education Level|Years of Experience|
+---------------+-------------------+
|     Bachelor's|                5.0|
|       Master's|                3.0|
|            PhD|               15.0|
|     Bachelor's|                7.0|
|       Master's|               20.0|
|     Bachelor's|                2.0|
|       Master's|               12.0|
|     Bachelor's|                4.0|
|     Bachelor's|                1.0|
|            PhD|               10.0|
|       Master's|                3.0|
|     Bachelor's|               18.0|
|     Bachelor's|                6.0|
|       Master's|               14.0|
|     Bachelor's|                2.0|
|     Bachelor's|               16.0|
|       Master's|                7.0|
|            PhD|               12.0|
|     Bachelor's|                0.0|
|     Bachelor's|               22.0|
+---------------+-------------------+
only showing top 20 rows

In [27]:
df.groupBy('Education Level').sum().show()

+---------------+--------+------------------------+-----------+
|Education Level|sum(Age)|sum(Years of Experience)|sum(Salary)|
+---------------+--------+------------------------+-----------+
|           NULL|    NULL|                    NULL|       NULL|
|            PhD|    2281|                   868.0|    8050000|
|     Bachelor's|    7686|                  1560.5|   16745350|
|       Master's|    3995|                  1313.0|   12720000|
+---------------+--------+------------------------+-----------+

In [13]:
df.groupBy('Education Level').sum().na.drop(how='all').show()

+---------------+--------+------------------------+-----------+
|Education Level|sum(Age)|sum(Years of Experience)|sum(Salary)|
+---------------+--------+------------------------+-----------+
|            PhD|    2281|                   868.0|    8050000|
|     Bachelor's|    7686|                  1560.5|   16745350|
|       Master's|    3995|                  1313.0|   12720000|
+---------------+--------+------------------------+-----------+

In [30]:
df.groupBy('Age').sum().show()

+----+--------+------------------------+-----------+
| Age|sum(Age)|sum(Years of Experience)|sum(Salary)|
+----+--------+------------------------+-----------+
|  31|     651|                    79.0|    1140000|
|  53|      53|                    25.0|     180000|
|  34|     578|                   119.0|    1530000|
|  28|     364|                    26.5|     540000|
|  26|     182|                     9.5|     275000|
|  27|     243|                    15.5|     400000|
|  44|     924|                   319.0|    3080000|
|  47|     705|                   298.0|    2575000|
|NULL|    NULL|                    NULL|       NULL|
|  52|     156|                    69.0|     620000|
|  40|     520|                   166.0|    1340000|
|  48|     432|                   178.0|    1565000|
|  41|     492|                   157.0|    1420000|
|  43|     516|                   197.0|    1695000|
|  37|     444|                   112.0|    1245000|
|  35|     770|                   176.0|    1975000|
|  39|     468|                   133.0|    1115000|
|  23|      23|                     0.5|      35000|
|  49|     392|                   163.0|    1360000|
|  51|     255|                   111.0|     855000|
+----+--------+------------------------+-----------+
only showing top 20 rows

In [34]:
df.groupBy('Age').mean().na.drop(how="any").show()

+---+--------+------------------------+------------------+
|Age|avg(Age)|avg(Years of Experience)|       avg(Salary)|
+---+--------+------------------------+------------------+
| 31|    31.0|       3.761904761904762| 54285.71428571428|
| 53|    53.0|                    25.0|          180000.0|
| 34|    34.0|                     7.0|           90000.0|
| 28|    28.0|      2.0384615384615383| 41538.46153846154|
| 26|    26.0|      1.3571428571428572| 39285.71428571428|
| 27|    27.0|      1.7222222222222223|44444.444444444445|
| 44|    44.0|       15.19047619047619|146666.66666666666|
| 47|    47.0|      19.866666666666667|171666.66666666666|
| 52|    52.0|                    23.0|206666.66666666666|
| 40|    40.0|       12.76923076923077|103076.92307692308|
| 48|    48.0|       19.77777777777778|173888.88888888888|
| 41|    41.0|      13.083333333333334|118333.33333333333|
| 43|    43.0|      16.416666666666668|          141250.0|
| 37|    37.0|       9.333333333333334|          103750.0|
| 35|    35.0|                     8.0| 89772.72727272728|
| 39|    39.0|      11.083333333333334| 92916.66666666667|
| 23|    23.0|                     0.5|           35000.0|
| 49|    49.0|                  20.375|          170000.0|
| 51|    51.0|                    22.2|          171000.0|
| 50|    50.0|                    22.0|          177500.0|
+---+--------+------------------------+------------------+
only showing top 20 rows

In [37]:
df.describe().na.drop(how="any").show()

+-------+---+------+---------------+---------------+-------------------+------+
|summary|Age|Gender|Education Level|      Job Title|Years of Experience|Salary|
+-------+---+------+---------------+---------------+-------------------+------+
|  count|373|   373|            373|            373|                373|   373|
|    min| 23|Female|     Bachelor's|Account Manager|                0.0|   350|
|    max| 53|  Male|            PhD|  Web Developer|               25.0|250000|
+-------+---+------+---------------+---------------+-------------------+------+

In [43]:
df.collect()

[Row(Age=32, Gender='Male', Education Level="Bachelor's", Job Title='Software Engineer', Years of Experience=5.0, Salary=90000),
 Row(Age=28, Gender='Female', Education Level="Master's", Job Title='Data Analyst', Years of Experience=3.0, Salary=65000),
 Row(Age=45, Gender='Male', Education Level='PhD', Job Title='Senior Manager', Years of Experience=15.0, Salary=150000),
 Row(Age=36, Gender='Female', Education Level="Bachelor's", Job Title='Sales Associate', Years of Experience=7.0, Salary=60000),
 Row(Age=52, Gender='Male', Education Level="Master's", Job Title='Director', Years of Experience=20.0, Salary=200000),
 Row(Age=29, Gender='Male', Education Level="Bachelor's", Job Title='Marketing Analyst', Years of Experience=2.0, Salary=55000),
 Row(Age=42, Gender='Female', Education Level="Master's", Job Title='Product Manager', Years of Experience=12.0, Salary=120000),
 Row(Age=31, Gender='Male', Education Level="Bachelor's", Job Title='Sales Manager', Years of Experience=4.0, Salary=80000),
 Row(Age=26, Gender='Female', Education Level="Bachelor's", Job Title='Marketing Coordinator', Years of Experience=1.0, Salary=45000),
 Row(Age=38, Gender='Male', Education Level='PhD', Job Title='Senior Scientist', Years of Experience=10.0, Salary=110000),
 Row(Age=29, Gender='Male', Education Level="Master's", Job Title='Software Developer', Years of Experience=3.0, Salary=75000),
 Row(Age=48, Gender='Female', Education Level="Bachelor's", Job Title='HR Manager', Years of Experience=18.0, Salary=140000),
 Row(Age=35, Gender='Male', Education Level="Bachelor's", Job Title='Financial Analyst', Years of Experience=6.0, Salary=65000),
 Row(Age=40, Gender='Female', Education Level="Master's", Job Title='Project Manager', Years of Experience=14.0, Salary=130000),
 Row(Age=27, Gender='Male', Education Level="Bachelor's", Job Title='Customer Service Rep', Years of Experience=2.0, Salary=40000),
 Row(Age=44, Gender='Male', Education Level="Bachelor's", Job Title='Operations Manager', Years of Experience=16.0, Salary=125000),
 Row(Age=33, Gender='Female', Education Level="Master's", Job Title='Marketing Manager', Years of Experience=7.0, Salary=90000),
 Row(Age=39, Gender='Male', Education Level='PhD', Job Title='Senior Engineer', Years of Experience=12.0, Salary=115000),
 Row(Age=25, Gender='Female', Education Level="Bachelor's", Job Title='Data Entry Clerk', Years of Experience=0.0, Salary=35000),
 Row(Age=51, Gender='Male', Education Level="Bachelor's", Job Title='Sales Director', Years of Experience=22.0, Salary=180000),
 Row(Age=34, Gender='Female', Education Level="Master's", Job Title='Business Analyst', Years of Experience=5.0, Salary=80000),
 Row(Age=47, Gender='Male', Education Level="Master's", Job Title='VP of Operations', Years of Experience=19.0, Salary=190000),
 Row(Age=30, Gender='Male', Education Level="Bachelor's", Job Title='IT Support', Years of Experience=2.0, Salary=50000),
 Row(Age=36, Gender='Female', Education Level="Bachelor's", Job Title='Recruiter', Years of Experience=9.0, Salary=60000),
 Row(Age=41, Gender='Male', Education Level="Master's", Job Title='Financial Manager', Years of Experience=13.0, Salary=140000),
 Row(Age=28, Gender='Female', Education Level="Bachelor's", Job Title='Social Media Specialist', Years of Experience=3.0, Salary=45000),
 Row(Age=37, Gender='Female', Education Level="Master's", Job Title='Software Manager', Years of Experience=11.0, Salary=110000),
 Row(Age=24, Gender='Male', Education Level="Bachelor's", Job Title='Junior Developer', Years of Experience=1.0, Salary=40000),
 Row(Age=43, Gender='Female', Education Level='PhD', Job Title='Senior Consultant', Years of Experience=15.0, Salary=140000),
 Row(Age=33, Gender='Male', Education Level="Master's", Job Title='Product Designer', Years of Experience=6.0, Salary=90000),
 Row(Age=50, Gender='Male', Education Level="Bachelor's", Job Title='CEO', Years of Experience=25.0, Salary=250000),
 Row(Age=31, Gender='Female', Education Level="Bachelor's", Job Title='Accountant', Years of Experience=4.0, Salary=55000),
 Row(Age=29, Gender='Male', Education Level="Master's", Job Title='Data Scientist', Years of Experience=3.0, Salary=75000),
 Row(Age=39, Gender='Female', Education Level="Bachelor's", Job Title='Marketing Specialist', Years of Experience=10.0, Salary=65000),
 Row(Age=46, Gender='Male', Education Level='PhD', Job Title='Senior Manager', Years of Experience=20.0, Salary=170000),
 Row(Age=27, Gender='Male', Education Level="Bachelor's", Job Title='Technical Writer', Years of Experience=2.0, Salary=45000),
 Row(Age=35, Gender='Female', Education Level="Bachelor's", Job Title='HR Generalist', Years of Experience=7.0, Salary=60000),
 Row(Age=42, Gender='Male', Education Level="Master's", Job Title='Project Engineer', Years of Experience=14.0, Salary=115000),
 Row(Age=26, Gender='Female', Education Level="Bachelor's", Job Title='Customer Success Rep', Years of Experience=1.0, Salary=40000),
 Row(Age=49, Gender='Male', Education Level="Bachelor's", Job Title='Sales Executive', Years of Experience=21.0, Salary=160000),
 Row(Age=34, Gender='Female', Education Level="Master's", Job Title='UX Designer', Years of Experience=5.0, Salary=80000),
 Row(Age=48, Gender='Male', Education Level="Master's", Job Title='Operations Director', Years of Experience=18.0, Salary=190000),
 Row(Age=30, Gender='Male', Education Level="Bachelor's", Job Title='Network Engineer', Years of Experience=3.0, Salary=60000),
 Row(Age=36, Gender='Female', Education Level="Bachelor's", Job Title='Administrative Assistant', Years of Experience=8.0, Salary=45000),
 Row(Age=41, Gender='Male', Education Level="Master's", Job Title='Strategy Consultant', Years of Experience=13.0, Salary=130000),
 Row(Age=28, Gender='Female', Education Level="Bachelor's", Job Title='Copywriter', Years of Experience=2.0, Salary=40000),
 Row(Age=32, Gender='Male', Education Level="Bachelor's", Job Title='Account Manager', Years of Experience=5.0, Salary=75000),
 Row(Age=45, Gender='Female', Education Level="Master's", Job Title='Director of Marketing', Years of Experience=16.0, Salary=180000),
 Row(Age=38, Gender='Male', Education Level='PhD', Job Title='Senior Scientist', Years of Experience=11.0, Salary=120000),
 Row(Age=25, Gender='Male', Education Level="Bachelor's", Job Title='Help Desk Analyst', Years of Experience=0.0, Salary=35000),
 Row(Age=51, Gender='Female', Education Level="Bachelor's", Job Title='Customer Service Manager', Years of Experience=22.0, Salary=130000),
 Row(Age=33, Gender='Male', Education Level="Master's", Job Title='Business Intelligence Analyst', Years of Experience=7.0, Salary=85000),
 Row(Age=40, Gender='Female', Education Level="Bachelor's", Job Title='Event Coordinator', Years of Experience=12.0, Salary=60000),
 Row(Age=47, Gender='Male', Education Level="Master's", Job Title='VP of Finance', Years of Experience=19.0, Salary=200000),
 Row(Age=29, Gender='Female', Education Level="Bachelor's", Job Title='Graphic Designer', Years of Experience=3.0, Salary=50000),
 Row(Age=36, Gender='Male', Education Level="Bachelor's", Job Title='Sales Manager', Years of Experience=9.0, Salary=95000),
 Row(Age=27, Gender='Female', Education Level="Master's", Job Title='UX Researcher', Years of Experience=2.0, Salary=65000),
 Row(Age=43, Gender='Male', Education Level='PhD', Job Title='Senior Engineer', Years of Experience=17.0, Salary=140000),
 Row(Age=30, Gender='Female', Education Level="Bachelor's", Job Title='Social Media Manager', Years of Experience=4.0, Salary=55000),
 Row(Age=35, Gender='Male', Education Level="Master's", Job Title='Product Manager', Years of Experience=7.0, Salary=105000),
 Row(Age=51, Gender='Female', Education Level="Master's", Job Title='Director of Operations', Years of Experience=23.0, Salary=170000),
 Row(Age=29, Gender='Male', Education Level="Bachelor's", Job Title='Marketing Analyst', Years of Experience=3.0, Salary=50000),
 Row(Age=40, Gender='Female', Education Level="Bachelor's", Job Title='HR Manager', Years of Experience=12.0, Salary=80000),
 Row(Age=47, Gender='Male', Education Level='PhD', Job Title='Senior Data Scientist', Years of Experience=21.0, Salary=180000),
 Row(Age=26, Gender='Male', Education Level="Bachelor's", Job Title='Junior Accountant', Years of Experience=1.0, Salary=35000),
 Row(Age=38, Gender='Female', Education Level="Master's", Job Title='Digital Marketing Manager', Years of Experience=10.0, Salary=90000),
 Row(Age=46, Gender='Male', Education Level="Bachelor's", Job Title='IT Manager', Years of Experience=19.0, Salary=120000),
 Row(Age=31, Gender='Female', Education Level="Bachelor's", Job Title='Customer Service Representative', Years of Experience=5.0, Salary=45000),
 Row(Age=34, Gender='Male', Education Level="Master's", Job Title='Business Development Manager', Years of Experience=8.0, Salary=90000),
 Row(Age=49, Gender='Female', Education Level="Master's", Job Title='Senior Financial Analyst', Years of Experience=18.0, Salary=150000),
 Row(Age=33, Gender='Male', Education Level="Bachelor's", Job Title='Web Developer', Years of Experience=6.0, Salary=65000),
 Row(Age=39, Gender='Female', Education Level="Bachelor's", Job Title='Recruiter', Years of Experience=11.0, Salary=70000),
 Row(Age=45, Gender='Male', Education Level='PhD', Job Title='Research Director', Years of Experience=16.0, Salary=190000),
 Row(Age=28, Gender='Male', Education Level="Bachelor's", Job Title='Technical Support Specialist', Years of Experience=2.0, Salary=40000),
 Row(Age=42, Gender='Female', Education Level="Master's", Job Title='Creative Director', Years of Experience=14.0, Salary=120000),
 Row(Age=37, Gender='Male', Education Level="Bachelor's", Job Title='Project Manager', Years of Experience=10.0, Salary=95000),
 Row(Age=50, Gender='Female', Education Level="Bachelor's", Job Title='Operations Manager', Years of Experience=22.0, Salary=160000),
 Row(Age=32, Gender='Male', Education Level="Master's", Job Title='Senior Software Engineer', Years of Experience=6.0, Salary=100000),
 Row(Age=48, Gender='Female', Education Level="Master's", Job Title='Human Resources Director', Years of Experience=20.0, Salary=180000),
 Row(Age=30, Gender='Female', Education Level="Bachelor's", Job Title='Content Marketing Manager', Years of Experience=3.0, Salary=55000),
 Row(Age=36, Gender='Male', Education Level="Bachelor's", Job Title='Technical Recruiter', Years of Experience=8.0, Salary=70000),
 Row(Age=41, Gender='Female', Education Level="Master's", Job Title='Data Analyst', Years of Experience=13.0, Salary=80000),
 Row(Age=25, Gender='Male', Education Level="Bachelor's", Job Title='Sales Representative', Years of Experience=0.0, Salary=30000),
 Row(Age=52, Gender='Male', Education Level='PhD', Job Title='Chief Technology Officer', Years of Experience=24.0, Salary=250000),
 Row(Age=29, Gender='Female', Education Level="Bachelor's", Job Title='Junior Designer', Years of Experience=2.0, Salary=40000),
 Row(Age=34, Gender='Female', Education Level="Master's", Job Title='Financial Advisor', Years of Experience=10.0, Salary=95000),
 Row(Age=27, Gender='Male', Education Level="Bachelor's", Job Title='Junior Account Manager', Years of Experience=2.0, Salary=45000),
 Row(Age=40, Gender='Female', Education Level="Bachelor's", Job Title='HR Generalist', Years of Experience=15.0, Salary=80000),
 Row(Age=46, Gender='Male', Education Level="Master's", Job Title='Senior Project Manager', Years of Experience=21.0, Salary=135000),
 Row(Age=31, Gender='Female', Education Level="Bachelor's", Job Title='Marketing Coordinator', Years of Experience=6.0, Salary=55000),
 Row(Age=36, Gender='Male', Education Level='PhD', Job Title='Principal Scientist', Years of Experience=11.0, Salary=120000),
 Row(Age=29, Gender='Female', Education Level="Bachelor's", Job Title='Sales Associate', Years of Experience=3.0, Salary=40000),
 Row(Age=43, Gender='Male', Education Level="Bachelor's", Job Title='Supply Chain Manager', Years of Experience=18.0, Salary=105000),
 Row(Age=52, Gender='Female', Education Level="Master's", Job Title='Senior Marketing Manager', Years of Experience=25.0, Salary=170000),
 Row(Age=33, Gender='Male', Education Level="Bachelor's", Job Title='Business Analyst', Years of Experience=7.0, Salary=75000),
 Row(Age=39, Gender='Female', Education Level="Bachelor's", Job Title='Training Specialist', Years of Experience=12.0, Salary=65000),
 Row(Age=47, Gender='Male', Education Level='PhD', Job Title='Research Scientist', Years of Experience=22.0, Salary=160000),
 Row(Age=26, Gender='Male', Education Level="Bachelor's", Job Title='Junior Software Developer', Years of Experience=1.0, Salary=35000),
 Row(Age=38, Gender='Female', Education Level="Master's", Job Title='Public Relations Manager', Years of Experience=10.0, Salary=90000),
 Row(Age=45, Gender='Male', Education Level="Bachelor's", Job Title='Operations Analyst', Years of Experience=20.0, Salary=110000),
 Row(Age=31, Gender='Female', Education Level="Bachelor's", Job Title='Event Coordinator', Years of Experience=5.0, Salary=45000),
 Row(Age=35, Gender='Male', Education Level="Master's", Job Title='Product Marketing Manager', Years of Experience=8.0, Salary=95000),
 Row(Age=49, Gender='Female', Education Level="Master's", Job Title='Senior HR Manager', Years of Experience=19.0, Salary=150000),
 Row(Age=33, Gender='Male', Education Level="Bachelor's", Job Title='Junior Web Developer', Years of Experience=5.0, Salary=50000),
 Row(Age=39, Gender='Female', Education Level="Master's", Job Title='Senior Project Coordinator', Years of Experience=13.0, Salary=80000),
 Row(Age=44, Gender='Male', Education Level='PhD', Job Title='Chief Data Officer', Years of Experience=16.0, Salary=220000),
 Row(Age=30, Gender='Female', Education Level="Bachelor's", Job Title='Digital Content Producer', Years of Experience=3.0, Salary=50000),
 Row(Age=36, Gender='Male', Education Level="Bachelor's", Job Title='IT Support Specialist', Years of Experience=7.0, Salary=60000),
 Row(Age=41, Gender='Female', Education Level="Master's", Job Title='Senior Marketing Analyst', Years of Experience=14.0, Salary=100000),
 Row(Age=28, Gender='Male', Education Level="Bachelor's", Job Title='Customer Success Manager', Years of Experience=2.0, Salary=40000),
 Row(Age=42, Gender='Female', Education Level="Master's", Job Title='Senior Graphic Designer', Years of Experience=15.0, Salary=110000),
 Row(Age=37, Gender='Male', Education Level="Bachelor's", Job Title='Software Project Manager', Years of Experience=9.0, Salary=95000),
 Row(Age=50, Gender='Female', Education Level="Bachelor's", Job Title='Supply Chain Analyst', Years of Experience=22.0, Salary=130000),
 Row(Age=32, Gender='Male', Education Level="Master's", Job Title='Senior Business Analyst', Years of Experience=6.0, Salary=90000),
 Row(Age=23, Gender='Female', Education Level="Bachelor's", Job Title='Junior Marketing Analyst', Years of Experience=0.5, Salary=35000),
 Row(Age=31, Gender='Male', Education Level="Master's", Job Title='Senior Financial Analyst', Years of Experience=6.0, Salary=95000),
 Row(Age=40, Gender='Female', Education Level="Bachelor's", Job Title='Office Manager', Years of Experience=15.0, Salary=65000),
 Row(Age=48, Gender='Male', Education Level='PhD', Job Title='Principal Engineer', Years of Experience=20.0, Salary=170000),
 Row(Age=29, Gender='Female', Education Level="Bachelor's", Job Title='Junior HR Generalist', Years of Experience=3.0, Salary=45000),
 Row(Age=35, Gender='Male', Education Level="Master's", Job Title='Senior Product Manager', Years of Experience=10.0, Salary=120000),
 Row(Age=42, Gender='Female', Education Level="Bachelor's", Job Title='Sales Manager', Years of Experience=17.0, Salary=100000),
 Row(Age=53, Gender='Male', Education Level="Master's", Job Title='Director of Marketing', Years of Experience=25.0, Salary=180000),
 Row(Age=33, Gender='Female', Education Level="Bachelor's", Job Title='Junior Operations Analyst', Years of Experience=5.0, Salary=50000),
 Row(Age=38, Gender='Male', Education Level="Bachelor's", Job Title='Customer Service Manager', Years of Experience=11.0, Salary=80000),
 Row(Age=44, Gender='Female', Education Level='PhD', Job Title='Senior Scientist', Years of Experience=16.0, Salary=140000),
 Row(Age=26, Gender='Male', Education Level="Bachelor's", Job Title='Junior Accountant', Years of Experience=2.0, Salary=40000),
 Row(Age=37, Gender='Female', Education Level="Master's", Job Title='Senior HR Generalist', Years of Experience=9.0, Salary=95000),
 Row(Age=45, Gender='Male', Education Level="Bachelor's", Job Title='Sales Operations Manager', Years of Experience=18.0, Salary=110000),
 Row(Age=32, Gender='Female', Education Level="Bachelor's", Job Title='Marketing Coordinator', Years of Experience=4.0, Salary=50000),
 Row(Age=34, Gender='Male', Education Level="Master's", Job Title='Senior Software Developer', Years of Experience=8.0, Salary=105000),
 Row(Age=50, Gender='Female', Education Level="Master's", Job Title='Director of Operations', Years of Experience=21.0, Salary=160000),
 Row(Age=29, Gender='Male', Education Level="Bachelor's", Job Title='Junior Web Designer', Years of Experience=3.0, Salary=45000),
 Row(Age=40, Gender='Female', Education Level="Master's", Job Title='Senior Training Specialist', Years of Experience=12.0, Salary=100000),
 Row(Age=47, Gender='Male', Education Level='PhD', Job Title='Senior Research Scientist', Years of Experience=22.0, Salary=160000),
 Row(Age=27, Gender='Male', Education Level="Bachelor's", Job Title='Junior Sales Representative', Years of Experience=1.0, Salary=35000),
 Row(Age=39, Gender='Female', Education Level="Bachelor's", Job Title='Administrative Assistant', Years of Experience=10.0, Salary=55000),
 Row(Age=46, Gender='Male', Education Level="Master's", Job Title='Senior Project Manager', Years of Experience=19.0, Salary=140000),
 Row(Age=30, Gender='Female', Education Level="Bachelor's", Job Title='Junior Marketing Manager', Years of Experience=4.0, Salary=50000),
 Row(Age=36, Gender='Male', Education Level="Bachelor's", Job Title='Junior Data Analyst', Years of Experience=7.0, Salary=60000),
 Row(Age=43, Gender='Female', Education Level="Master's", Job Title='Senior Product Marketing Manager', Years of Experience=14.0, Salary=120000),
 Row(Age=28, Gender='Male', Education Level="Bachelor's", Job Title='Junior Business Analyst', Years of Experience=2.0, Salary=40000),
 Row(Age=41, Gender='Female', Education Level="Master's", Job Title='Senior Marketing Manager', Years of Experience=13.0, Salary=110000),
 Row(Age=33, Gender='Male', Education Level="Bachelor's", Job Title='Junior Software Developer', Years of Experience=5.0, Salary=50000),
 Row(Age=47, Gender='Male', Education Level="Bachelor's", Job Title='Senior Sales Manager', Years of Experience=20.0, Salary=135000),
 Row(Age=25, Gender='Female', Education Level="Master's", Job Title='Junior Marketing Specialist', Years of Experience=1.5, Salary=40000),
 Row(Age=34, Gender='Male', Education Level="Bachelor's", Job Title='Senior Business Analyst', Years of Experience=8.0, Salary=90000),
 Row(Age=42, Gender='Female', Education Level='PhD', Job Title='Senior Data Scientist', Years of Experience=16.0, Salary=150000),
 Row(Age=31, Gender='Male', Education Level="Bachelor's", Job Title='Junior Project Manager', Years of Experience=4.0, Salary=60000),
 Row(Age=38, Gender='Female', Education Level="Bachelor's", Job Title='Senior Accountant', Years of Experience=10.0, Salary=80000),
 Row(Age=45, Gender='Male', Education Level="Master's", Job Title='Director of Sales', Years of Experience=19.0, Salary=175000),
 Row(Age=29, Gender='Female', Education Level="Bachelor's", Job Title='Junior Recruiter', Years of Experience=3.0, Salary=45000),
 Row(Age=36, Gender='Male', Education Level="Master's", Job Title='Senior Business Development Manager', Years of Experience=11.0, Salary=120000),

In [49]:
df.take(10)

[Row(Age=32, Gender='Male', Education Level="Bachelor's", Job Title='Software Engineer', Years of Experience=5.0, Salary=90000),
 Row(Age=28, Gender='Female', Education Level="Master's", Job Title='Data Analyst', Years of Experience=3.0, Salary=65000),
 Row(Age=45, Gender='Male', Education Level='PhD', Job Title='Senior Manager', Years of Experience=15.0, Salary=150000),
 Row(Age=36, Gender='Female', Education Level="Bachelor's", Job Title='Sales Associate', Years of Experience=7.0, Salary=60000),
 Row(Age=52, Gender='Male', Education Level="Master's", Job Title='Director', Years of Experience=20.0, Salary=200000),
 Row(Age=29, Gender='Male', Education Level="Bachelor's", Job Title='Marketing Analyst', Years of Experience=2.0, Salary=55000),
 Row(Age=42, Gender='Female', Education Level="Master's", Job Title='Product Manager', Years of Experience=12.0, Salary=120000),
 Row(Age=31, Gender='Male', Education Level="Bachelor's", Job Title='Sales Manager', Years of Experience=4.0, Salary=80000),
 Row(Age=26, Gender='Female', Education Level="Bachelor's", Job Title='Marketing Coordinator', Years of Experience=1.0, Salary=45000),
 Row(Age=38, Gender='Male', Education Level='PhD', Job Title='Senior Scientist', Years of Experience=10.0, Salary=110000)]

In [16]:
df.toPandas()

,Age,Gender,Education Level,Job Title,Years of Experience,Salary
0,32.0,Male,Bachelor's,Software Engineer,5.0,90000.0
1,28.0,Female,Master's,Data Analyst,3.0,65000.0
2,45.0,Male,PhD,Senior Manager,15.0,150000.0
3,36.0,Female,Bachelor's,Sales Associate,7.0,60000.0
4,52.0,Male,Master's,Director,20.0,200000.0
...,...,...,...,...,...,...
370,35.0,Female,Bachelor's,Senior Marketing Analyst,8.0,85000.0
371,43.0,Male,Master's,Director of Operations,19.0,170000.0
372,29.0,Female,Bachelor's,Junior Project Manager,2.0,40000.0
373,34.0,Male,Bachelor's,Senior Operations Coordinator,7.0,90000.0
374,44.0,Female,PhD,Senior Business Analyst,15.0,150000.0

In [15]:
df.agg({"Salary":"sum"}).show()

+-----------+
|sum(Salary)|
+-----------+
|   37515350|
+-----------+

In [17]:
df.groupBy("Job Title").count().show()

+--------------------+-----+
|           Job Title|count|
+--------------------+-----+
|Digital Marketing...|    1|
|    Product Designer|    1|
|Senior Sales Manager|    2|
|Senior Software A...|    1|
|   Financial Manager|    1|
|   Event Coordinator|    2|
|   Financial Analyst|    1|
|Senior Product Ma...|    1|
|Business Intellig...|    1|
|Junior Software E...|    1|
|Senior IT Consultant|    2|
|     Sales Executive|    1|
|   Senior Researcher|    1|
|    Network Engineer|    1|
|     Sales Associate|    2|
|Public Relations ...|    1|
|Junior Business A...|    8|
|Junior Customer S...|    1|
|    VP of Operations|    1|
|Junior Operations...|    5|
+--------------------+-----+
only showing top 20 rows

In [22]:
    df.groupBy("Salary").count().na.drop(how='any').show()

+------+-----+
|Salary|count|
+------+-----+
|135000|    2|
| 85000|   10|
|145000|    1|
|130000|   14|
|125000|    1|
|220000|    1|
| 35000|   13|
|   350|    1|
|100000|   14|
| 30000|    1|
|115000|    3|
|180000|   20|
|150000|   18|
| 60000|   17|
|120000|   20|
|185000|    1|
| 95000|   22|
|110000|   17|
|160000|   17|
| 80000|   12|
+------+-----+
only showing top 20 rows

In [21]:
df.groupBy("Salary").max().na.drop(how="any").show()

+------+--------+------------------------+-----------+
|Salary|max(Age)|max(Years of Experience)|max(Salary)|
+------+--------+------------------------+-----------+
|135000|      47|                    21.0|     135000|
| 85000|      36|                     8.0|      85000|
|145000|      44|                    15.0|     145000|
|130000|      51|                    22.0|     130000|
|125000|      44|                    16.0|     125000|
|220000|      44|                    16.0|     220000|
| 35000|      29|                     2.0|      35000|
|   350|      29|                     1.5|        350|
|100000|      42|                    17.0|     100000|
| 30000|      25|                     0.0|      30000|
|115000|      42|                    14.0|     115000|
|180000|      53|                    25.0|     180000|
|150000|      49|                    19.0|     150000|
| 60000|      40|                    12.0|      60000|
|120000|      46|                    19.0|     120000|
|185000|      51|                    23.0|     185000|
| 95000|      41|                    12.0|      95000|
|110000|      45|                    20.0|     110000|
|160000|      50|                    22.0|     160000|
| 80000|      41|                    15.0|      80000|
+------+--------+------------------------+-----------+
only showing top 20 rows

In [23]:
df.groupBy("Salary").sum().show()

+------+--------+------------------------+-----------+
|Salary|sum(Age)|sum(Years of Experience)|sum(Salary)|
+------+--------+------------------------+-----------+
|135000|      93|                    41.0|     270000|
| 85000|     349|                    78.0|     850000|
|145000|      44|                    15.0|     145000|
|130000|     604|                   203.0|    1820000|
|125000|      44|                    16.0|     125000|
|220000|      44|                    16.0|     220000|
| 35000|     348|                    14.0|     455000|
|   350|      29|                     1.5|        350|
|100000|     510|                   134.0|    1400000|
| 30000|      25|                     0.0|      30000|
|115000|     114|                    33.0|     345000|
|  NULL|    NULL|                    NULL|       NULL|
|180000|     972|                   416.0|    3600000|
|150000|     802|                   285.0|    2700000|
| 60000|     576|                    92.0|    1020000|
|120000|     787|                   232.0|    2400000|
|185000|      51|                    23.0|     185000|
| 95000|     794|                   191.0|    2090000|
|110000|     674|                   201.0|    1870000|
|160000|     777|                   308.0|    2720000|
+------+--------+------------------------+-----------+
only showing top 20 rows

In [25]:
df.agg({"Salary":"sum"}).show()

+-----------+
|sum(Salary)|
+-----------+
|   37515350|
+-----------+