Pyspark Dataframes

Filter Operation
&,|,==
~

In [14]:
from pyspark.sql import SparkSession

spark=SparkSession.builder.appName('filter').getOrCreate()
df=spark.read.csv(r"C:\Users\Ganesh Kulkarni\Documents\Dataset\Salary Data.csv",header=True,inferSchema=True)

In [15]:
df.show()

+---+------+---------------+--------------------+-------------------+------+
|Age|Gender|Education Level|           Job Title|Years of Experience|Salary|
+---+------+---------------+--------------------+-------------------+------+
| 32|  Male|     Bachelor's|   Software Engineer|                5.0| 90000|
| 28|Female|       Master's|        Data Analyst|                3.0| 65000|
| 45|  Male|            PhD|      Senior Manager|               15.0|150000|
| 36|Female|     Bachelor's|     Sales Associate|                7.0| 60000|
| 52|  Male|       Master's|            Director|               20.0|200000|
| 29|  Male|     Bachelor's|   Marketing Analyst|                2.0| 55000|
| 42|Female|       Master's|     Product Manager|               12.0|120000|
| 31|  Male|     Bachelor's|       Sales Manager|                4.0| 80000|
| 26|Female|     Bachelor's|Marketing Coordin...|                1.0| 45000|
| 38|  Male|            PhD|    Senior Scientist|               10.0|110000|
| 29|  Male|       Master's|  Software Developer|                3.0| 75000|
| 48|Female|     Bachelor's|          HR Manager|               18.0|140000|
| 35|  Male|     Bachelor's|   Financial Analyst|                6.0| 65000|
| 40|Female|       Master's|     Project Manager|               14.0|130000|
| 27|  Male|     Bachelor's|Customer Service Rep|                2.0| 40000|
| 44|  Male|     Bachelor's|  Operations Manager|               16.0|125000|
| 33|Female|       Master's|   Marketing Manager|                7.0| 90000|
| 39|  Male|            PhD|     Senior Engineer|               12.0|115000|
| 25|Female|     Bachelor's|    Data Entry Clerk|                0.0| 35000|
| 51|  Male|     Bachelor's|      Sales Director|               22.0|180000|
+---+------+---------------+--------------------+-------------------+------+
only showing top 20 rows

In [17]:
df.na.drop(how='any',thresh=3).show()

+---+------+---------------+--------------------+-------------------+------+
|Age|Gender|Education Level|           Job Title|Years of Experience|Salary|
+---+------+---------------+--------------------+-------------------+------+
| 32|  Male|     Bachelor's|   Software Engineer|                5.0| 90000|
| 28|Female|       Master's|        Data Analyst|                3.0| 65000|
| 45|  Male|            PhD|      Senior Manager|               15.0|150000|
| 36|Female|     Bachelor's|     Sales Associate|                7.0| 60000|
| 52|  Male|       Master's|            Director|               20.0|200000|
| 29|  Male|     Bachelor's|   Marketing Analyst|                2.0| 55000|
| 42|Female|       Master's|     Product Manager|               12.0|120000|
| 31|  Male|     Bachelor's|       Sales Manager|                4.0| 80000|
| 26|Female|     Bachelor's|Marketing Coordin...|                1.0| 45000|
| 38|  Male|            PhD|    Senior Scientist|               10.0|110000|
| 29|  Male|       Master's|  Software Developer|                3.0| 75000|
| 48|Female|     Bachelor's|          HR Manager|               18.0|140000|
| 35|  Male|     Bachelor's|   Financial Analyst|                6.0| 65000|
| 40|Female|       Master's|     Project Manager|               14.0|130000|
| 27|  Male|     Bachelor's|Customer Service Rep|                2.0| 40000|
| 44|  Male|     Bachelor's|  Operations Manager|               16.0|125000|
| 33|Female|       Master's|   Marketing Manager|                7.0| 90000|
| 39|  Male|            PhD|     Senior Engineer|               12.0|115000|
| 25|Female|     Bachelor's|    Data Entry Clerk|                0.0| 35000|
| 51|  Male|     Bachelor's|      Sales Director|               22.0|180000|
+---+------+---------------+--------------------+-------------------+------+
only showing top 20 rows

In [18]:
df.na.drop(how='any',thresh=3).show()

+---+------+---------------+--------------------+-------------------+------+
|Age|Gender|Education Level|           Job Title|Years of Experience|Salary|
+---+------+---------------+--------------------+-------------------+------+
| 32|  Male|     Bachelor's|   Software Engineer|                5.0| 90000|
| 28|Female|       Master's|        Data Analyst|                3.0| 65000|
| 45|  Male|            PhD|      Senior Manager|               15.0|150000|
| 36|Female|     Bachelor's|     Sales Associate|                7.0| 60000|
| 52|  Male|       Master's|            Director|               20.0|200000|
| 29|  Male|     Bachelor's|   Marketing Analyst|                2.0| 55000|
| 42|Female|       Master's|     Product Manager|               12.0|120000|
| 31|  Male|     Bachelor's|       Sales Manager|                4.0| 80000|
| 26|Female|     Bachelor's|Marketing Coordin...|                1.0| 45000|
| 38|  Male|            PhD|    Senior Scientist|               10.0|110000|
| 29|  Male|       Master's|  Software Developer|                3.0| 75000|
| 48|Female|     Bachelor's|          HR Manager|               18.0|140000|
| 35|  Male|     Bachelor's|   Financial Analyst|                6.0| 65000|
| 40|Female|       Master's|     Project Manager|               14.0|130000|
| 27|  Male|     Bachelor's|Customer Service Rep|                2.0| 40000|
| 44|  Male|     Bachelor's|  Operations Manager|               16.0|125000|
| 33|Female|       Master's|   Marketing Manager|                7.0| 90000|
| 39|  Male|            PhD|     Senior Engineer|               12.0|115000|
| 25|Female|     Bachelor's|    Data Entry Clerk|                0.0| 35000|
| 51|  Male|     Bachelor's|      Sales Director|               22.0|180000|
+---+------+---------------+--------------------+-------------------+------+
only showing top 20 rows

# filter Opearation

In [23]:
#Salary of the people less Than or equal to 20000

df.filter("Salary<=20000").show()

+---+------+---------------+--------------------+-------------------+------+
|Age|Gender|Education Level|           Job Title|Years of Experience|Salary|
+---+------+---------------+--------------------+-------------------+------+
| 29|  Male|     Bachelor's|Junior Business O...|                1.5|   350|
+---+------+---------------+--------------------+-------------------+------+

In [58]:
df.filter("Salary>=30000").select(['Job Title','Education Level']).show()

+--------------------+---------------+
|           Job Title|Education Level|
+--------------------+---------------+
|   Software Engineer|     Bachelor's|
|        Data Analyst|       Master's|
|      Senior Manager|            PhD|
|     Sales Associate|     Bachelor's|
|            Director|       Master's|
|   Marketing Analyst|     Bachelor's|
|     Product Manager|       Master's|
|       Sales Manager|     Bachelor's|
|Marketing Coordin...|     Bachelor's|
|    Senior Scientist|            PhD|
|  Software Developer|       Master's|
|          HR Manager|     Bachelor's|
|   Financial Analyst|     Bachelor's|
|     Project Manager|       Master's|
|Customer Service Rep|     Bachelor's|
|  Operations Manager|     Bachelor's|
|   Marketing Manager|       Master's|
|     Senior Engineer|            PhD|
|    Data Entry Clerk|     Bachelor's|
|      Sales Director|     Bachelor's|
+--------------------+---------------+
only showing top 20 rows

In [60]:
df.filter((df['Salary']<=30000) & (df['Salary']>35000)).show()

+---+------+---------------+---------+-------------------+------+
|Age|Gender|Education Level|Job Title|Years of Experience|Salary|
+---+------+---------------+---------+-------------------+------+
+---+------+---------------+---------+-------------------+------+

In [61]:
df.filter(~(df['Salary']<=20000)).show()

+---+------+---------------+--------------------+-------------------+------+
|Age|Gender|Education Level|           Job Title|Years of Experience|Salary|
+---+------+---------------+--------------------+-------------------+------+
| 32|  Male|     Bachelor's|   Software Engineer|                5.0| 90000|
| 28|Female|       Master's|        Data Analyst|                3.0| 65000|
| 45|  Male|            PhD|      Senior Manager|               15.0|150000|
| 36|Female|     Bachelor's|     Sales Associate|                7.0| 60000|
| 52|  Male|       Master's|            Director|               20.0|200000|
| 29|  Male|     Bachelor's|   Marketing Analyst|                2.0| 55000|
| 42|Female|       Master's|     Product Manager|               12.0|120000|
| 31|  Male|     Bachelor's|       Sales Manager|                4.0| 80000|
| 26|Female|     Bachelor's|Marketing Coordin...|                1.0| 45000|
| 38|  Male|            PhD|    Senior Scientist|               10.0|110000|
| 29|  Male|       Master's|  Software Developer|                3.0| 75000|
| 48|Female|     Bachelor's|          HR Manager|               18.0|140000|
| 35|  Male|     Bachelor's|   Financial Analyst|                6.0| 65000|
| 40|Female|       Master's|     Project Manager|               14.0|130000|
| 27|  Male|     Bachelor's|Customer Service Rep|                2.0| 40000|
| 44|  Male|     Bachelor's|  Operations Manager|               16.0|125000|
| 33|Female|       Master's|   Marketing Manager|                7.0| 90000|
| 39|  Male|            PhD|     Senior Engineer|               12.0|115000|
| 25|Female|     Bachelor's|    Data Entry Clerk|                0.0| 35000|
| 51|  Male|     Bachelor's|      Sales Director|               22.0|180000|
+---+------+---------------+--------------------+-------------------+------+
only showing top 20 rows

In [30]:
from pyspark.ml.feature import Imputer

imputer=Imputer(
    inputCols=['Age','Years of Experience','Salary'],
    outputCols=["{}_imputed".format(c) for c in ['Age','Years of Experience','Salary']]
).setStrategy("mean")

a=imputer.fit(df).transform(df)
a.show()

+---+------+---------------+--------------------+-------------------+------+-----------+---------------------------+--------------+
|Age|Gender|Education Level|           Job Title|Years of Experience|Salary|Age_imputed|Years of Experience_imputed|Salary_imputed|
+---+------+---------------+--------------------+-------------------+------+-----------+---------------------------+--------------+
| 32|  Male|     Bachelor's|   Software Engineer|                5.0| 90000|         32|                        5.0|         90000|
| 28|Female|       Master's|        Data Analyst|                3.0| 65000|         28|                        3.0|         65000|
| 45|  Male|            PhD|      Senior Manager|               15.0|150000|         45|                       15.0|        150000|
| 36|Female|     Bachelor's|     Sales Associate|                7.0| 60000|         36|                        7.0|         60000|
| 52|  Male|       Master's|            Director|               20.0|200000|         52|                       20.0|        200000|
| 29|  Male|     Bachelor's|   Marketing Analyst|                2.0| 55000|         29|                        2.0|         55000|
| 42|Female|       Master's|     Product Manager|               12.0|120000|         42|                       12.0|        120000|
| 31|  Male|     Bachelor's|       Sales Manager|                4.0| 80000|         31|                        4.0|         80000|
| 26|Female|     Bachelor's|Marketing Coordin...|                1.0| 45000|         26|                        1.0|         45000|
| 38|  Male|            PhD|    Senior Scientist|               10.0|110000|         38|                       10.0|        110000|
| 29|  Male|       Master's|  Software Developer|                3.0| 75000|         29|                        3.0|         75000|
| 48|Female|     Bachelor's|          HR Manager|               18.0|140000|         48|                       18.0|        140000|
| 35|  Male|     Bachelor's|   Financial Analyst|                6.0| 65000|         35|                        6.0|         65000|
| 40|Female|       Master's|     Project Manager|               14.0|130000|         40|                       14.0|        130000|
| 27|  Male|     Bachelor's|Customer Service Rep|                2.0| 40000|         27|                        2.0|         40000|
| 44|  Male|     Bachelor's|  Operations Manager|               16.0|125000|         44|                       16.0|        125000|
| 33|Female|       Master's|   Marketing Manager|                7.0| 90000|         33|                        7.0|         90000|
| 39|  Male|            PhD|     Senior Engineer|               12.0|115000|         39|                       12.0|        115000|
| 25|Female|     Bachelor's|    Data Entry Clerk|                0.0| 35000|         25|                        0.0|         35000|
| 51|  Male|     Bachelor's|      Sales Director|               22.0|180000|         51|                       22.0|        180000|
+---+------+---------------+--------------------+-------------------+------+-----------+---------------------------+--------------+
only showing top 20 rows

In [32]:
df.describe().show()

+-------+-----------------+------+---------------+---------------+-------------------+------------------+
|summary|              Age|Gender|Education Level|      Job Title|Years of Experience|            Salary|
+-------+-----------------+------+---------------+---------------+-------------------+------------------+
|  count|              373|   373|            373|            373|                373|               373|
|   mean|37.43163538873995|  NULL|           NULL|           NULL|  10.03083109919571|100577.34584450402|
| stddev|7.069072938567491|  NULL|           NULL|           NULL|  6.557007136414239|48240.013481882655|
|    min|               23|Female|     Bachelor's|Account Manager|                0.0|               350|
|    max|               53|  Male|            PhD|  Web Developer|               25.0|            250000|
+-------+-----------------+------+---------------+---------------+-------------------+------------------+

In [34]:
df.show()

+---+------+---------------+--------------------+-------------------+------+
|Age|Gender|Education Level|           Job Title|Years of Experience|Salary|
+---+------+---------------+--------------------+-------------------+------+
| 32|  Male|     Bachelor's|   Software Engineer|                5.0| 90000|
| 28|Female|       Master's|        Data Analyst|                3.0| 65000|
| 45|  Male|            PhD|      Senior Manager|               15.0|150000|
| 36|Female|     Bachelor's|     Sales Associate|                7.0| 60000|
| 52|  Male|       Master's|            Director|               20.0|200000|
| 29|  Male|     Bachelor's|   Marketing Analyst|                2.0| 55000|
| 42|Female|       Master's|     Product Manager|               12.0|120000|
| 31|  Male|     Bachelor's|       Sales Manager|                4.0| 80000|
| 26|Female|     Bachelor's|Marketing Coordin...|                1.0| 45000|
| 38|  Male|            PhD|    Senior Scientist|               10.0|110000|
| 29|  Male|       Master's|  Software Developer|                3.0| 75000|
| 48|Female|     Bachelor's|          HR Manager|               18.0|140000|
| 35|  Male|     Bachelor's|   Financial Analyst|                6.0| 65000|
| 40|Female|       Master's|     Project Manager|               14.0|130000|
| 27|  Male|     Bachelor's|Customer Service Rep|                2.0| 40000|
| 44|  Male|     Bachelor's|  Operations Manager|               16.0|125000|
| 33|Female|       Master's|   Marketing Manager|                7.0| 90000|
| 39|  Male|            PhD|     Senior Engineer|               12.0|115000|
| 25|Female|     Bachelor's|    Data Entry Clerk|                0.0| 35000|
| 51|  Male|     Bachelor's|      Sales Director|               22.0|180000|
+---+------+---------------+--------------------+-------------------+------+
only showing top 20 rows

In [35]:
df.select(['Job Title','Salary']).show()

+--------------------+------+
|           Job Title|Salary|
+--------------------+------+
|   Software Engineer| 90000|
|        Data Analyst| 65000|
|      Senior Manager|150000|
|     Sales Associate| 60000|
|            Director|200000|
|   Marketing Analyst| 55000|
|     Product Manager|120000|
|       Sales Manager| 80000|
|Marketing Coordin...| 45000|
|    Senior Scientist|110000|
|  Software Developer| 75000|
|          HR Manager|140000|
|   Financial Analyst| 65000|
|     Project Manager|130000|
|Customer Service Rep| 40000|
|  Operations Manager|125000|
|   Marketing Manager| 90000|
|     Senior Engineer|115000|
|    Data Entry Clerk| 35000|
|      Sales Director|180000|
+--------------------+------+
only showing top 20 rows

In [39]:
##Rename column
df.withColumnRenamed('Salary','New-Salary').show()

+---+------+---------------+--------------------+-------------------+----------+
|Age|Gender|Education Level|           Job Title|Years of Experience|New-Salary|
+---+------+---------------+--------------------+-------------------+----------+
| 32|  Male|     Bachelor's|   Software Engineer|                5.0|     90000|
| 28|Female|       Master's|        Data Analyst|                3.0|     65000|
| 45|  Male|            PhD|      Senior Manager|               15.0|    150000|
| 36|Female|     Bachelor's|     Sales Associate|                7.0|     60000|
| 52|  Male|       Master's|            Director|               20.0|    200000|
| 29|  Male|     Bachelor's|   Marketing Analyst|                2.0|     55000|
| 42|Female|       Master's|     Product Manager|               12.0|    120000|
| 31|  Male|     Bachelor's|       Sales Manager|                4.0|     80000|
| 26|Female|     Bachelor's|Marketing Coordin...|                1.0|     45000|
| 38|  Male|            PhD|    Senior Scientist|               10.0|    110000|
| 29|  Male|       Master's|  Software Developer|                3.0|     75000|
| 48|Female|     Bachelor's|          HR Manager|               18.0|    140000|
| 35|  Male|     Bachelor's|   Financial Analyst|                6.0|     65000|
| 40|Female|       Master's|     Project Manager|               14.0|    130000|
| 27|  Male|     Bachelor's|Customer Service Rep|                2.0|     40000|
| 44|  Male|     Bachelor's|  Operations Manager|               16.0|    125000|
| 33|Female|       Master's|   Marketing Manager|                7.0|     90000|
| 39|  Male|            PhD|     Senior Engineer|               12.0|    115000|
| 25|Female|     Bachelor's|    Data Entry Clerk|                0.0|     35000|
| 51|  Male|     Bachelor's|      Sales Director|               22.0|    180000|
+---+------+---------------+--------------------+-------------------+----------+
only showing top 20 rows

In [41]:
df.show()

+---+------+---------------+--------------------+-------------------+------+
|Age|Gender|Education Level|           Job Title|Years of Experience|Salary|
+---+------+---------------+--------------------+-------------------+------+
| 32|  Male|     Bachelor's|   Software Engineer|                5.0| 90000|
| 28|Female|       Master's|        Data Analyst|                3.0| 65000|
| 45|  Male|            PhD|      Senior Manager|               15.0|150000|
| 36|Female|     Bachelor's|     Sales Associate|                7.0| 60000|
| 52|  Male|       Master's|            Director|               20.0|200000|
| 29|  Male|     Bachelor's|   Marketing Analyst|                2.0| 55000|
| 42|Female|       Master's|     Product Manager|               12.0|120000|
| 31|  Male|     Bachelor's|       Sales Manager|                4.0| 80000|
| 26|Female|     Bachelor's|Marketing Coordin...|                1.0| 45000|
| 38|  Male|            PhD|    Senior Scientist|               10.0|110000|
| 29|  Male|       Master's|  Software Developer|                3.0| 75000|
| 48|Female|     Bachelor's|          HR Manager|               18.0|140000|
| 35|  Male|     Bachelor's|   Financial Analyst|                6.0| 65000|
| 40|Female|       Master's|     Project Manager|               14.0|130000|
| 27|  Male|     Bachelor's|Customer Service Rep|                2.0| 40000|
| 44|  Male|     Bachelor's|  Operations Manager|               16.0|125000|
| 33|Female|       Master's|   Marketing Manager|                7.0| 90000|
| 39|  Male|            PhD|     Senior Engineer|               12.0|115000|
| 25|Female|     Bachelor's|    Data Entry Clerk|                0.0| 35000|
| 51|  Male|     Bachelor's|      Sales Director|               22.0|180000|
+---+------+---------------+--------------------+-------------------+------+
only showing top 20 rows

In [62]:
type(df)

pyspark.sql.dataframe.DataFrame