In [46]:
pip install Linearregression

Collecting Linearregression
  Obtaining dependency information for Linearregression from https://files.pythonhosted.org/packages/e1/8b/c8adcf3c6994fa14d7115feb5b310444e143e73e336f76ef78da630d7d0b/LinearRegression-0.0.1-py3-none-any.whl.metadata
  Downloading LinearRegression-0.0.1-py3-none-any.whl.metadata (389 bytes)
Downloading LinearRegression-0.0.1-py3-none-any.whl (2.7 kB)
Installing collected packages: Linearregression
Successfully installed Linearregression-0.0.1
Note: you may need to restart the kernel to use updated packages.

WARNING: There was an error checking the latest version of pip.

In [1]:
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName("missing").getOrCreate()

In [3]:
training=spark.read.csv(r"C:\Users\Ganesh Kulkarni\Documents\Dataset\Salary_Dataset_with_Extra_Features.csv",header=True,inferSchema=True)

In [4]:
spark

In [7]:
training.toPandas()

,Rating,Company Name,Job Title,Salary,Salaries Reported,Location,Employment Status,Job Roles
0,3.8,Sasken,Android Developer,400000,3,Bangalore,Full Time,Android
1,4.5,Advanced Millennium Technologies,Android Developer,400000,3,Bangalore,Full Time,Android
2,4.0,Unacademy,Android Developer,1000000,3,Bangalore,Full Time,Android
3,3.8,SnapBizz Cloudtech,Android Developer,300000,3,Bangalore,Full Time,Android
4,4.4,Appoids Tech Solutions,Android Developer,600000,3,Bangalore,Full Time,Android
...,...,...,...,...,...,...,...,...
22765,4.7,Expert Solutions,Web Developer,200000,1,Bangalore,Full Time,Web
22766,4.0,Nextgen Innovation Labs,Web Developer,300000,1,Bangalore,Full Time,Web
22767,4.1,Fresher,Full Stack Web Developer,192000,13,Bangalore,Full Time,Web
22768,4.1,Accenture,Full Stack Web Developer,300000,7,Bangalore,Full Time,Web
22769,3.8,Thomson Reuters,Associate Web Developer,300000,7,Bangalore,Full Time,Web

In [8]:
training.printSchema()

root
 |-- Rating: double (nullable = true)
 |-- Company Name: string (nullable = true)
 |-- Job Title: string (nullable = true)
 |-- Salary: integer (nullable = true)
 |-- Salaries Reported: integer (nullable = true)
 |-- Location: string (nullable = true)
 |-- Employment Status: string (nullable = true)
 |-- Job Roles: string (nullable = true)

In [12]:
training.columns

['Rating',
 'Company Name',
 'Job Title',
 'Salary',
 'Salaries Reported',
 'Location',
 'Employment Status',
 'Job Roles']

In [13]:
training.describe()

DataFrame[summary: string, Rating: string, Company Name: string, Job Title: string, Salary: string, Salaries Reported: string, Location: string, Employment Status: string, Job Roles: string]

In [14]:
type(training)

pyspark.sql.dataframe.DataFrame

In [17]:
training.dtypes

[('Rating', 'double'),
 ('Company Name', 'string'),
 ('Job Title', 'string'),
 ('Salary', 'int'),
 ('Salaries Reported', 'int'),
 ('Location', 'string'),
 ('Employment Status', 'string'),
 ('Job Roles', 'string')]

In [18]:
training.groupBy("Salary").sum().show()

+-------+------------------+-----------+----------------------+
| Salary|       sum(Rating)|sum(Salary)|sum(Salaries Reported)|
+-------+------------------+-----------+----------------------+
| 552000|             143.1|   20424000|                    42|
|  31680|              11.7|      95040|                     5|
| 450000|              11.3|    1350000|                     3|
|1450000|               8.7|    2900000|                     2|
|1085568|               2.5|    1085568|                     1|
| 864000| 60.99999999999999|   13824000|                    20|
| 950000|              20.1|    4750000|                    15|
| 204864|               8.2|     409728|                     2|
| 350000| 7.699999999999999|     700000|                     5|
|4000000|              29.2|   32000000|                    10|
|1210176|               3.9|    1210176|                     1|
| 500000| 6206.300000000002|  799500000|                  2644|
| 162624|               4.0|     162624|                     1|
| 202752|              22.4|    1216512|                     7|
| 561792|               4.2|     561792|                     1|
|2080320|               3.8|    2080320|                     1|
| 912000| 95.70000000000002|   21888000|                    27|
|  27456|               3.8|      27456|                     1|
| 850000|11.399999999999999|    2550000|                     6|
| 210000|               4.3|     210000|                     1|
+-------+------------------+-----------+----------------------+
only showing top 20 rows

In [19]:
training.agg({"Salary":"sum"}).show()

+-----------+
|sum(Salary)|
+-----------+
|15833966800|
+-----------+

In [21]:
training.groupBy("Salary").max().show()

+-------+-----------+-----------+----------------------+
| Salary|max(Rating)|max(Salary)|max(Salaries Reported)|
+-------+-----------+-----------+----------------------+
| 552000|        5.0|     552000|                     3|
|  31680|        4.3|      31680|                     3|
| 450000|        3.8|     450000|                     1|
|1450000|        4.5|    1450000|                     1|
|1085568|        2.5|    1085568|                     1|
| 864000|        4.4|     864000|                     2|
| 950000|        4.3|     950000|                     9|
| 204864|        4.2|     204864|                     1|
| 350000|        3.9|     350000|                     4|
|4000000|        4.7|    4000000|                     3|
|1210176|        3.9|    1210176|                     1|
| 500000|        5.0|     500000|                    38|
| 162624|        4.0|     162624|                     1|
| 202752|        4.2|     202752|                     2|
| 561792|        4.2|     561792|                     1|
|2080320|        3.8|    2080320|                     1|
| 912000|        4.7|     912000|                     2|
|  27456|        3.8|      27456|                     1|
| 850000|        3.8|     850000|                     4|
| 210000|        4.3|     210000|                     1|
+-------+-----------+-----------+----------------------+
only showing top 20 rows

In [31]:
from pyspark.ml.feature import VectorAssembler
featureassember=VectorAssembler(inputCols=['Rating','Salary'],outputCol='Independent')

In [32]:
output = featureassember.transform(training)
output.show()

+------+--------------------+--------------------+-------+-----------------+---------+-----------------+---------+---------------+
|Rating|        Company Name|           Job Title| Salary|Salaries Reported| Location|Employment Status|Job Roles|    Independent|
+------+--------------------+--------------------+-------+-----------------+---------+-----------------+---------+---------------+
|   3.8|              Sasken|   Android Developer| 400000|                3|Bangalore|        Full Time|  Android| [3.8,400000.0]|
|   4.5|Advanced Millenni...|   Android Developer| 400000|                3|Bangalore|        Full Time|  Android| [4.5,400000.0]|
|   4.0|           Unacademy|   Android Developer|1000000|                3|Bangalore|        Full Time|  Android|[4.0,1000000.0]|
|   3.8|  SnapBizz Cloudtech|   Android Developer| 300000|                3|Bangalore|        Full Time|  Android| [3.8,300000.0]|
|   4.4|Appoids Tech Solu...|   Android Developer| 600000|                3|Bangalore|        Full Time|  Android| [4.4,600000.0]|
|   4.2|          Freelancer|   Android Developer| 100000|                3|Bangalore|        Full Time|  Android| [4.2,100000.0]|
|   3.7|       SQUARE N CUBE|   Android Developer| 192000|                3|Bangalore|        Full Time|  Android| [3.7,192000.0]|
|   3.1|Samsung R&D Insti...|   Android Developer| 400000|                3|Bangalore|        Full Time|  Android| [3.1,400000.0]|
|   3.7|DXMinds Technologies|   Android Developer| 300000|                3|Bangalore|        Full Time|  Android| [3.7,300000.0]|
|   3.6|Endeavour Softwar...|   Android Developer| 600000|                3|Bangalore|        Full Time|  Android| [3.6,600000.0]|
|   3.6|       Craft Silicon|   Android Developer| 300000|                3|Bangalore|        Full Time|  Android| [3.6,300000.0]|
|   3.9|Baronford & Assoc...|   Android Developer| 240000|                2|Bangalore|        Full Time|  Android| [3.9,240000.0]|
|   3.7|               Wibmo|   Android Developer| 900000|                2|Bangalore|        Full Time|  Android| [3.7,900000.0]|
|   4.8|        Retail Pulse|Android Developer...|  24000|                2|Bangalore|           Intern|  Android|  [4.8,24000.0]|
|   3.9|          Bookmyshow|   Android Developer| 600000|                2|Bangalore|        Full Time|  Android| [3.9,600000.0]|
|   3.9|      Knowledge Flex|   Android Developer| 228000|                2|Bangalore|        Full Time|  Android| [3.9,228000.0]|
|   3.6|   Novopay Solutions|   Android Developer| 600000|                2|Bangalore|        Full Time|  Android| [3.6,600000.0]|
|   3.7|        WealthEngine|   Android Developer| 360000|                2|Bangalore|        Full Time|  Android| [3.7,360000.0]|
|   4.0|         J.P. Morgan|   Android Developer|1000000|                2|Bangalore|        Full Time|  Android|[4.0,1000000.0]|
|   3.6|              Acviss|   Android Developer| 500000|                2|Bangalore|        Full Time|  Android| [3.6,500000.0]|
+------+--------------------+--------------------+-------+-----------------+---------+-----------------+---------+---------------+
only showing top 20 rows

In [41]:
finalized_data=output.select("Company Name","Salary")

In [42]:
finalized_data.show()

+--------------------+-------+
|        Company Name| Salary|
+--------------------+-------+
|              Sasken| 400000|
|Advanced Millenni...| 400000|
|           Unacademy|1000000|
|  SnapBizz Cloudtech| 300000|
|Appoids Tech Solu...| 600000|
|          Freelancer| 100000|
|       SQUARE N CUBE| 192000|
|Samsung R&D Insti...| 400000|
|DXMinds Technologies| 300000|
|Endeavour Softwar...| 600000|
|       Craft Silicon| 300000|
|Baronford & Assoc...| 240000|
|               Wibmo| 900000|
|        Retail Pulse|  24000|
|          Bookmyshow| 600000|
|      Knowledge Flex| 228000|
|   Novopay Solutions| 600000|
|        WealthEngine| 360000|
|         J.P. Morgan|1000000|
|              Acviss| 500000|
+--------------------+-------+
only showing top 20 rows

In [51]:
from pyspark.ml.regression import LinearRegression
#training 
train_data,test_data=finalized_data.randomSplit([0.75,0.25])
regressor=LinearRegression(featureCol='Independent',labelCol='Salary')
regressor=regressor.fit(train_data)

TypeError: LinearRegression.__init__() got an unexpected keyword argument 'featureCol'

In [52]:
from pyspark.ml.feature import StringIndexer

In [53]:
df.columns

['Rating', 'Salary']

In [55]:
from pyspark.ml.feature import VectorAssembler
VectorAssembler(inputCols=[''])