In [19]:
pip install pyspark

Requirement already satisfied: pyspark in c:\users\ganesh kulkarni\anaconda3\lib\site-packages (3.5.3)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: py4j==0.10.9.7 in c:\users\ganesh kulkarni\anaconda3\lib\site-packages (from pyspark) (0.10.9.7)

In [1]:
import pyspark

In [80]:
import pandas as pd
df=pd.read_csv(r"C:\Users\Ganesh Kulkarni\Downloads\global_health_data.csv")
df

,Country,Year,Disease Name,Disease Category,Prevalence Rate,Incidence Rate,Mortality Rate,Age Group,Gender,Population Affected,...,Hospital Beds per 1000,Treatment Type,Average Treatment Cost USD,Availability of Vaccines Treatment,Recovery Rate,DALYs,Improvement in 5 Years,Per Capita IncomeUSD,Education Index,Urbanization Rate
0,Italy,2013,Malaria,Respiratory,0.95,1.55,8.42,0-18,Male,471007,...,7.58,Medication,21064,No,91.82,4493,2.16,16886,0.79,86.02
1,France,2002,Ebola,Parasitic,12.46,8.63,8.75,61+,Male,634318,...,5.11,Surgery,47851,Yes,76.65,2366,4.82,80639,0.74,45.52
2,Turkey,2015,COVID-19,Genetic,0.91,2.35,6.22,36-60,Male,154878,...,3.49,Vaccination,27834,Yes,98.55,41,5.81,12245,0.41,40.20
3,Indonesia,2011,Parkinson's Disease,Autoimmune,4.68,6.29,3.99,0-18,Other,446224,...,8.44,Surgery,144,Yes,67.35,3201,2.22,49336,0.49,58.47
4,Italy,2013,Tuberculosis,Genetic,0.83,13.59,7.01,61+,Male,472908,...,5.90,Medication,8908,Yes,50.06,2832,6.93,47701,0.50,48.14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999995,Saudi Arabia,2021,Parkinson's Disease,Infectious,4.56,4.83,9.65,0-18,Female,119332,...,4.23,Vaccination,4528,Yes,92.11,1024,3.88,29335,0.75,27.94
999996,Saudi Arabia,2013,Malaria,Respiratory,0.26,1.76,0.56,0-18,Female,354927,...,6.34,Surgery,20686,No,84.47,202,7.95,30752,0.47,77.66
999997,USA,2016,Zika,Respiratory,13.44,14.13,1.91,19-35,Other,807915,...,8.11,Therapy,18807,No,86.81,3338,7.31,62897,0.72,46.90
999998,Nigeria,2020,Asthma,Chronic,1.96,14.56,4.98,61+,Female,385896,...,6.91,Medication,21033,Yes,62.15,4806,3.82,98189,0.51,34.73
999999,Indonesia,2004,Asthma,Neurological,15.58,9.84,0.51,36-60,Other,632775,...,6.79,Therapy,505,Yes,77.23,3241,1.11,79640,0.42,78.51

In [82]:
type(df)

pandas.core.frame.DataFrame

In [3]:
import pandas as pd
df=pd.read_csv(r"C:\Users\Ganesh Kulkarni\Downloads\global_health_data.csv")
df

,Country,Year,Disease Name,Disease Category,Prevalence Rate,Incidence Rate,Mortality Rate,Age Group,Gender,Population Affected,...,Hospital Beds per 1000,Treatment Type,Average Treatment Cost USD,Availability of Vaccines Treatment,Recovery Rate,DALYs,Improvement in 5 Years,Per Capita IncomeUSD,Education Index,Urbanization Rate
0,Italy,2013,Malaria,Respiratory,0.95,1.55,8.42,0-18,Male,471007,...,7.58,Medication,21064,No,91.82,4493,2.16,16886,0.79,86.02
1,France,2002,Ebola,Parasitic,12.46,8.63,8.75,61+,Male,634318,...,5.11,Surgery,47851,Yes,76.65,2366,4.82,80639,0.74,45.52
2,Turkey,2015,COVID-19,Genetic,0.91,2.35,6.22,36-60,Male,154878,...,3.49,Vaccination,27834,Yes,98.55,41,5.81,12245,0.41,40.20
3,Indonesia,2011,Parkinson's Disease,Autoimmune,4.68,6.29,3.99,0-18,Other,446224,...,8.44,Surgery,144,Yes,67.35,3201,2.22,49336,0.49,58.47
4,Italy,2013,Tuberculosis,Genetic,0.83,13.59,7.01,61+,Male,472908,...,5.90,Medication,8908,Yes,50.06,2832,6.93,47701,0.50,48.14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999995,Saudi Arabia,2021,Parkinson's Disease,Infectious,4.56,4.83,9.65,0-18,Female,119332,...,4.23,Vaccination,4528,Yes,92.11,1024,3.88,29335,0.75,27.94
999996,Saudi Arabia,2013,Malaria,Respiratory,0.26,1.76,0.56,0-18,Female,354927,...,6.34,Surgery,20686,No,84.47,202,7.95,30752,0.47,77.66
999997,USA,2016,Zika,Respiratory,13.44,14.13,1.91,19-35,Other,807915,...,8.11,Therapy,18807,No,86.81,3338,7.31,62897,0.72,46.90
999998,Nigeria,2020,Asthma,Chronic,1.96,14.56,4.98,61+,Female,385896,...,6.91,Medication,21033,Yes,62.15,4806,3.82,98189,0.51,34.73
999999,Indonesia,2004,Asthma,Neurological,15.58,9.84,0.51,36-60,Other,632775,...,6.79,Therapy,505,Yes,77.23,3241,1.11,79640,0.42,78.51

In [5]:
from pyspark.sql import SparkSession

In [58]:
spark = SparkSession.builder.appName('testing').getOrCreate()

In [60]:
spark

In [62]:
df_pyspark=spark.read.csv(r"C:\Users\Ganesh Kulkarni\Downloads\4 recoreds correct final2.csv", header=True)
df_pyspark.show()

+--------------------+-----------------------+------------+---+------+----------+
|                Name|Father's/Husband's Name|House Number|Age|Gender|   EPIC No|
+--------------------+-----------------------+------------+---+------+----------+
|AMOL SURESH CHAKHALE|        SURESH CHAKHALE|         N/A| 28|  Male|UUK7899438|
|JAYSHRI BABURAO G...|        BABURAO GAYKWAD|         N/A| 57|Female|UUK7899404|
|Surekha Parshuram...|        Parshuram Pawar|         N/A| 46|Female|UUK7514839|
|JAYASHRI TRIMABAK...|        TRIMABAK SHWOSE|         N/A| 31|Female|UUK7899396|
|  RANJIT KUSUM Valke|            KUSUM Valke|         N/A| 27|  Male|UUK7899255|
|Kalyani Ganesh Walke|           Ganesh Walke|         N/A| 27|Female|UUK7970494|
|        Shobha Kadam|           Sanjay Kadam|           -| 51|Female|UUK8322901|
|priyanka Dadabhau...|       Dadasaheb Shinde|           -| 25|Female|UUK7899446|
+--------------------+-----------------------+------------+---+------+----------+

In [70]:
df_pyspark=spark.read.option('header','true').csv(r"C:\Users\Ganesh Kulkarni\Downloads\4 recoreds correct final2.csv")

In [71]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [74]:
df_pyspark.printSchema

In [76]:
df_pyspark.show()

+--------------------+-----------------------+------------+---+------+----------+
|                Name|Father's/Husband's Name|House Number|Age|Gender|   EPIC No|
+--------------------+-----------------------+------------+---+------+----------+
|AMOL SURESH CHAKHALE|        SURESH CHAKHALE|         N/A| 28|  Male|UUK7899438|
|JAYSHRI BABURAO G...|        BABURAO GAYKWAD|         N/A| 57|Female|UUK7899404|
|Surekha Parshuram...|        Parshuram Pawar|         N/A| 46|Female|UUK7514839|
|JAYASHRI TRIMABAK...|        TRIMABAK SHWOSE|         N/A| 31|Female|UUK7899396|
|  RANJIT KUSUM Valke|            KUSUM Valke|         N/A| 27|  Male|UUK7899255|
|Kalyani Ganesh Walke|           Ganesh Walke|         N/A| 27|Female|UUK7970494|
|        Shobha Kadam|           Sanjay Kadam|           -| 51|Female|UUK8322901|
|priyanka Dadabhau...|       Dadasaheb Shinde|           -| 25|Female|UUK7899446|
+--------------------+-----------------------+------------+---+------+----------+

In [96]:
#Read the Dataset
df_pyspark=spark.read.option('header','true').csv(r"C:\Users\Ganesh Kulkarni\Downloads\final2.csv",inferSchema=True)

In [98]:
#Check the schema
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Father's/Husband's Name: string (nullable = true)
 |-- House Number: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Gender: string (nullable = true)
 |-- EPIC No: string (nullable = true)

In [102]:
df_pyspark=spark.read.csv(r"C:\Users\Ganesh Kulkarni\Downloads\final2.csv",header=True,inferSchema=True)

In [106]:
df_pyspark.show()

+--------------------+-----------------------+------------+---+------+----------+
|                Name|Father's/Husband's Name|House Number|Age|Gender|   EPIC No|
+--------------------+-----------------------+------------+---+------+----------+
|AMOL SURESH CHAKHALE|        SURESH CHAKHALE|         N/A| 28|  Male|UUK7899438|
|JAYSHRI BABURAO G...|        BABURAO GAYKWAD|         N/A| 57|Female|UUK7899404|
|Surekha Parshuram...|        Parshuram Pawar|         N/A| 46|Female|UUK7514839|
|JAYASHRI TRIMABAK...|        TRIMABAK SHWOSE|         N/A| 31|Female|UUK7899396|
|  RANJIT KUSUM Valke|            KUSUM Valke|         N/A| 27|  Male|UUK7899255|
|Kalyani Ganesh Walke|           Ganesh Walke|         N/A| 27|Female|UUK7970494|
|        Shobha Kadam|           Sanjay Kadam|           -| 51|Female|UUK8322901|
|priyanka Dadabhau...|       Dadasaheb Shinde|           -| 25|Female|UUK7899446|
+--------------------+-----------------------+------------+---+------+----------+

In [108]:
#Check the schema
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Father's/Husband's Name: string (nullable = true)
 |-- House Number: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Gender: string (nullable = true)
 |-- EPIC No: string (nullable = true)

In [110]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [112]:
df_pyspark.columns

['Name', "Father's/Husband's Name", 'House Number', 'Age', 'Gender', 'EPIC No']

In [116]:
df_pyspark.head(3)

[Row(Name='AMOL SURESH CHAKHALE', Father's/Husband's Name='SURESH CHAKHALE', House Number='N/A', Age=28, Gender='Male', EPIC No='UUK7899438'),
 Row(Name='JAYSHRI BABURAO GAYKWAD', Father's/Husband's Name='BABURAO GAYKWAD', House Number='N/A', Age=57, Gender='Female', EPIC No='UUK7899404'),
 Row(Name='Surekha Parshuram Pawar', Father's/Husband's Name='Parshuram Pawar', House Number='N/A', Age=46, Gender='Female', EPIC No='UUK7514839')]

In [118]:
df_pyspark.show()

+--------------------+-----------------------+------------+---+------+----------+
|                Name|Father's/Husband's Name|House Number|Age|Gender|   EPIC No|
+--------------------+-----------------------+------------+---+------+----------+
|AMOL SURESH CHAKHALE|        SURESH CHAKHALE|         N/A| 28|  Male|UUK7899438|
|JAYSHRI BABURAO G...|        BABURAO GAYKWAD|         N/A| 57|Female|UUK7899404|
|Surekha Parshuram...|        Parshuram Pawar|         N/A| 46|Female|UUK7514839|
|JAYASHRI TRIMABAK...|        TRIMABAK SHWOSE|         N/A| 31|Female|UUK7899396|
|  RANJIT KUSUM Valke|            KUSUM Valke|         N/A| 27|  Male|UUK7899255|
|Kalyani Ganesh Walke|           Ganesh Walke|         N/A| 27|Female|UUK7970494|
|        Shobha Kadam|           Sanjay Kadam|           -| 51|Female|UUK8322901|
|priyanka Dadabhau...|       Dadasaheb Shinde|           -| 25|Female|UUK7899446|
+--------------------+-----------------------+------------+---+------+----------+

In [122]:
df_pyspark.select('Name').show()

+--------------------+
|                Name|
+--------------------+
|AMOL SURESH CHAKHALE|
|JAYSHRI BABURAO G...|
|Surekha Parshuram...|
|JAYASHRI TRIMABAK...|
|  RANJIT KUSUM Valke|
|Kalyani Ganesh Walke|
|        Shobha Kadam|
|priyanka Dadabhau...|
+--------------------+

In [128]:
df_pyspark.select(['Name','Gender']).show()

+--------------------+------+
|                Name|Gender|
+--------------------+------+
|AMOL SURESH CHAKHALE|  Male|
|JAYSHRI BABURAO G...|Female|
|Surekha Parshuram...|Female|
|JAYASHRI TRIMABAK...|Female|
|  RANJIT KUSUM Valke|  Male|
|Kalyani Ganesh Walke|Female|
|        Shobha Kadam|Female|
|priyanka Dadabhau...|Female|
+--------------------+------+

In [130]:
df_pyspark['Name']

Column<'Name'>

In [134]:
df_pyspark.dtypes

[('Name', 'string'),
 ("Father's/Husband's Name", 'string'),
 ('House Number', 'string'),
 ('Age', 'int'),
 ('Gender', 'string'),
 ('EPIC No', 'string')]

In [138]:
df_pyspark.describe().show()

+-------+--------------------+-----------------------+------------+------------------+------+----------+
|summary|                Name|Father's/Husband's Name|House Number|               Age|Gender|   EPIC No|
+-------+--------------------+-----------------------+------------+------------------+------+----------+
|  count|                   8|                      8|           8|                 8|     8|         8|
|   mean|                NULL|                   NULL|        NULL|              36.5|  NULL|      NULL|
| stddev|                NULL|                   NULL|        NULL|12.739141034061687|  NULL|      NULL|
|    min|AMOL SURESH CHAKHALE|        BABURAO GAYKWAD|           -|                25|Female|UUK7514839|
|    max|priyanka Dadabhau...|        TRIMABAK SHWOSE|         N/A|                57|  Male|UUK8322901|
+-------+--------------------+-----------------------+------------+------------------+------+----------+

In [146]:
#Adding columns in data frame

df_pyspark.withColumn('Voter_id',df_pyspark['EPIC No']+2).show()

+--------------------+-----------------------+------------+---+------+----------+--------+
|                Name|Father's/Husband's Name|House Number|Age|Gender|   EPIC No|Voter_id|
+--------------------+-----------------------+------------+---+------+----------+--------+
|AMOL SURESH CHAKHALE|        SURESH CHAKHALE|         N/A| 28|  Male|UUK7899438|    NULL|
|JAYSHRI BABURAO G...|        BABURAO GAYKWAD|         N/A| 57|Female|UUK7899404|    NULL|
|Surekha Parshuram...|        Parshuram Pawar|         N/A| 46|Female|UUK7514839|    NULL|
|JAYASHRI TRIMABAK...|        TRIMABAK SHWOSE|         N/A| 31|Female|UUK7899396|    NULL|
|  RANJIT KUSUM Valke|            KUSUM Valke|         N/A| 27|  Male|UUK7899255|    NULL|
|Kalyani Ganesh Walke|           Ganesh Walke|         N/A| 27|Female|UUK7970494|    NULL|
|        Shobha Kadam|           Sanjay Kadam|           -| 51|Female|UUK8322901|    NULL|
|priyanka Dadabhau...|       Dadasaheb Shinde|           -| 25|Female|UUK7899446|    NULL|
+--------------------+-----------------------+------------+---+------+----------+--------+

In [150]:
#Drop cloumns in data-frame
df_pyspark.drop('Voter_id').show()

+--------------------+-----------------------+------------+---+------+----------+
|                Name|Father's/Husband's Name|House Number|Age|Gender|   EPIC No|
+--------------------+-----------------------+------------+---+------+----------+
|AMOL SURESH CHAKHALE|        SURESH CHAKHALE|         N/A| 28|  Male|UUK7899438|
|JAYSHRI BABURAO G...|        BABURAO GAYKWAD|         N/A| 57|Female|UUK7899404|
|Surekha Parshuram...|        Parshuram Pawar|         N/A| 46|Female|UUK7514839|
|JAYASHRI TRIMABAK...|        TRIMABAK SHWOSE|         N/A| 31|Female|UUK7899396|
|  RANJIT KUSUM Valke|            KUSUM Valke|         N/A| 27|  Male|UUK7899255|
|Kalyani Ganesh Walke|           Ganesh Walke|         N/A| 27|Female|UUK7970494|
|        Shobha Kadam|           Sanjay Kadam|           -| 51|Female|UUK8322901|
|priyanka Dadabhau...|       Dadasaheb Shinde|           -| 25|Female|UUK7899446|
+--------------------+-----------------------+------------+---+------+----------+

In [154]:
#Rename the cloumns
df_pyspark.withColumnRenamed('EPIC No','Voter_id').show()

+--------------------+-----------------------+------------+---+------+----------+
|                Name|Father's/Husband's Name|House Number|Age|Gender|  Voter_id|
+--------------------+-----------------------+------------+---+------+----------+
|AMOL SURESH CHAKHALE|        SURESH CHAKHALE|         N/A| 28|  Male|UUK7899438|
|JAYSHRI BABURAO G...|        BABURAO GAYKWAD|         N/A| 57|Female|UUK7899404|
|Surekha Parshuram...|        Parshuram Pawar|         N/A| 46|Female|UUK7514839|
|JAYASHRI TRIMABAK...|        TRIMABAK SHWOSE|         N/A| 31|Female|UUK7899396|
|  RANJIT KUSUM Valke|            KUSUM Valke|         N/A| 27|  Male|UUK7899255|
|Kalyani Ganesh Walke|           Ganesh Walke|         N/A| 27|Female|UUK7970494|
|        Shobha Kadam|           Sanjay Kadam|           -| 51|Female|UUK8322901|
|priyanka Dadabhau...|       Dadasaheb Shinde|           -| 25|Female|UUK7899446|
+--------------------+-----------------------+------------+---+------+----------+

In [ ]:
from pyspark.sql import SparkSession
spark=Sparksession.builder.appName('NEW Spark').getOrCreate()

In [6]:
df_pyspark.printSchema()

NameError: name 'df_pyspark' is not defined